<head>
    <h2>Visualize Baltimore Government Employees Salaries!</h2>
</head>

<body ng-app="myApp.view2">


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>


<div class="row" id="chart2">

    <div class="col-md-8" ng-controller="View2Ctrl" ng-model = "visualizationOptions.type" style="margin-left: 20px" min-height = "700" >
        <div id = "AvgSal by Hire Data" ng-if="visualizationOptions.type === 'AvgSal'">
            <line-chart id="myChart" ng-if="chart.type === 'line'" data="chart.chartData" labels="chart.labels"
                        width="500"
                        height="5-0" style="background-color: #fff">

            </line-chart>

            <bar-chart id="myChart" ng-if="chart.type === 'bar'" data="chart.chartData" labels="chart.labels"
                         width="500"
                         height="500" style="background-color: #fff">

            </bar-chart>

            <p style="margin-top: 10px">Chart Type:
                <select class="chartType2" ng-model="chart.type">
                    <option value="line">Line</option>
                    <option value="bar">Bar</option>
                </select>
            </p>
        </div>

        <div id = "Salary Ranges" ng-if="visualizationOptions.type === 'Ranges'">
            <bar-chart id="myChart2" ng-if="chart2.type2 === 'bar'"  data="chart2.chartData2" labels="chart2.labels2" width = "500" height = "550"
                       style="background-color: #fff">

            </bar-chart>

            <pie-chart id="myChart2" ng-if="chart2.type2 === 'pie'"  data="chart2.chartData2" labels="chart2.labels2" width = "500" height = "550"
                       style="background-color: #fff">

            </pie-chart>



            <p style="margin-top: 10px">Chart Type:
                <select class="chartType2" ng-model="chart2.type2">
                    <option value="bar">Bar</option>
                    <option value="pie">Pie</option>
                </select>
            </p>

        </div>

        <div id = "Salary Table" ng-if= "visualizationOptions.type === 'Raw'">
            <grid-control id="myChart"ui-grid="gridOptions" height="550"
                          style="background-color: #fff">

            </grid-control>
        </div>

    </div>

    <div class="col-md-3">

        <div id="ThingsToVisualize">
            <p style="background-color: #fff; text-align: center; font-size: medium; font-style: oblique"><strong>
                What do you want to visualize?
            </strong></p>
            <p style="text-align: center">
                <select ng-controller="visualizationOptions" ng-init = "chartTypes = init" ng-model="chartTypes" ng-change="changeChart(chartTypes)">
                    <option value="AvgSal"> Avg.Salary v Hire Date(Decades)</option>
                    <option value="Ranges"> Gov-Employee Salary Ranges</option>
                    <option value="Raw">Baltimore Gov Employees Salaries Fy.2016</option>
                </select>
            </p>
        </div>

        <p style="background-color: #fff; text-align: center; font-size: medium; font-style: oblique"><strong>
            Graph Filters
        </strong></p>

        <p style="margin-left: 10px" ng-mouseover= "hello"> Filter by Year:
            <select ng-controller="yearFilterOptions2" ng-init="year = options[0]" ng-model="year"
                    ng-change="changeYear(year)" ng-options="x for x in options">
            </select></p>

        <p style="margin-left: 10px"> Filter by Agency:
            <select ng-controller="agencyFilterOptions2" ng-init="agencies = options1[0]" ng-model="agencies"
                    ng-change="changeAgency(agencies)">
                <option value="All"> All</option>
                <option value="Mayors Office"> Mayors Office</option>
                <option value="Fire Department">Fire Department</option>
                <option value="Police Department">Police Department</option>
                <option value="TRANS-Traffic">TRANS-Traffic</option>
            </select></p>

        <p style="background-color: #fff; text-align: center; font-size: medium; font-style: oblique"><strong>
            Cool Info!
        </strong></p>
        <div id= "public arts graph" ng-controller="publicArt">
            <p style="text-align: center"> New Public Art Installations by Decade</p>
            <line-chart data="chart.chartData" labels="chart.labels" colors="chart.colors" style="background-color: #fff">
            </line-chart>

            <p style="text-align: center; padding-top: 8px"> With the exception of the 2000s,
                the number of new public arts projects in Baltimore is directly correlated
                to the salaries of employees by hire date. What does this mean?
                Art lovers should lobby for higher government salaries!!</p>
        </div>




    </div>

</div>

<!--<div class = "row" id="filterContainer">-->


<!--</div>-->

</body>