/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
    background-color: #fff;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

h2 {
    color: black;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}

pie-chart {
    display: block;
    /*width: 500px;*/
    /*height: 300px;*/
}

bar-chart {
    display: block;
    /*width: 500px;*/
    /*height: 300px;*/
}

line-chart {
    display: block;
    /*width: 550px;*/
    /*height: 450px;*/
}

radar-chart {
    display: block;
    /*width: 500px;*/
    /*height: 400px;*/
}

#chart1 {
    max-width:500px;
    max-height:400px;
    display: block;
}

.container {
    width: 100px;
    height: 100px;
}

.chartType {
    margin: 10px 10px 5px 0px
}

/*#chart2 {*/
    /*max-width:800px;*/
    /*max-height:500px;*/
/*}*/

.container2 {
    width: 700px;
    height: 500px;
}

.chartType2 {
    margin: 0px 10px 0px 10px
}

/*#filterContainer {*/
    /*width: 300px;*/
    /*float: right;*/
/*}*/

/*.YearFilters{*/
    /*width: 100%;*/
    /*float:top;*/
    /*height: 40px*/
/*}*/
/*.AgencyFilters{*/
    /*width: 100%;*/
    /*float:right;*/
    /*height: 40px*/
/*}*/

.grid {
    /*width: 500px;*/
    /*height: 500px;*/
    display: block;
    margin-left: 20px;
}