<head>
    <h2> Visualize Crime Info by Neighborhood in Baltimore!</h2>
</head>

<body ng-app="myApp.view1">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>


<div class="row" id="chart2">
    <div class="col-md-8">
        <div ng-controller="View1Ctrl" style=" margin-left: 20px; background-color: #fff">

            <leaflet id="map-simple-map" lf-center="baltimore" geojson="geojson" width="100%" height="500">

            </leaflet>

        </div>
    </div>

    <div class="col-md-3">
        <div id="filterContainer">

            <div id="Filters" style="padding-top: 10px">
                <p style="background-color: #fff; text-align: center; font-size: medium; font-style: oblique"><strong>
                    Filters
                </strong></p>

            </div>


            <div class="YearFilters" ng-controller="yearFilterOptions">

                <p> Filter by Year:
                    <select ng-init="year = options[0]" ng-model="year" ng-change="changeYear(year)"
                            ng-options="x for x in options">
                    </select>
                </p>
            </div>

            <div id="Crime Filter" ng-controller="crimeTypeOptions">
                <p> Filter by Crime Type:
                    <select ng-init="crime = options[0]" ng-model="crime" ng-change="changeCrime(crime)"
                            ng-options="x for x in options">
                    </select>
                </p>

                <div id="Graph Legend" ng-model = "crimeType">
                    <p style="background-color: #fff; text-align: center; font-size: medium; font-style: oblique">
                        <strong>
                            Map Legend
                        </strong></p>

                    <table width="100%"ng-if = "crimeType ==='Crime-Rate'">
                        <tr>
                            <th style="font-size: 12px;background-color: #646464; text-align: center">Very High
                            </th>
                            <th style="font-size: 12px; background-color: #f03b20; text-align: center">High
                            </th>
                            <th style="font-size: 12px; background-color: #feb24c; text-align: center">Middle
                            </th>
                            <th style="font-size: 12px; background-color: #ffeda0; text-align: center">Low
                            </th>
                        </tr>
                    </table>

                    <table width="100%"ng-if = "crimeType ==='Violent-Crime-Rate'">
                        <tr>
                            <th style="font-size: 12px;background-color: #ce1256; text-align: center"> Very High
                            </th>
                            <th style="font-size: 12px; background-color: #df65b0; text-align: center">High
                            </th>
                            <th style="font-size: 12px; background-color: #d7b5d8; text-align: center">Middle
                            </th>
                            <th style="font-size: 12px; background-color: #f1eef6; text-align: center">Low
                            </th>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
